.about-photo img {
    margin-top: 25px;
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50% 40% 50% 40%; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.about-photo img:hover {
    transform: scale(1.05) rotate(3deg);
}

@media (min-width: 1024px) { 
  #scrollImage {
      transition: transform 0.1s linear;
  }
}

@media (max-width: 600px) {
.about-photo img {
    width: 225px;
    height: 225px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 50% 40% 50% 40%; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.info p {
    width: 100%;
    margin: 16px auto;
    text-align: left;          
    line-height: 1.8;          
    padding: 0 15px;           
    font-size: 1rem;                      
}
}

