/* Reset & basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #1B1B1B;
    color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace;
}

/* Navbar styling */
header {
    width: calc(100% - 400px);
    margin: 0 200px;
    padding: 30px 30px;
    display: flex;
    justify-content: center; 
    position: fixed;
    top: 0;
    background-color: #1B1B1B;
    border-bottom: 1px solid rgba(98, 186, 27, 0.5); 
    border-radius: 5px;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul {
    display: flex;
    gap: 45px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #9C9C9C;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14.5px;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #62BA1B;
    text-decoration: underline;
}

nav ul li a.active {
    color: #62BA1B;      
    text-decoration: underline;
    font-weight: 600;     
}

.social-icons {
    margin-left: 100px;
    display: flex;
    gap: 25px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.social-icons i {
    color: #62BA1B;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons i:hover {
    color: white; 
}

/* Hamburger menu button */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 25px;
    height: 20px;
    justify-content: space-between;
}

.hamburger span {
    background: #62BA1B;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    transition: 0.3s;
}

/* Responsive styles */
@media (max-width: 900px) {
    .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #1B1B1B;
    padding: 20px 0;
    text-align: center;
    /* border-top: 1px solid rgba(255, 255, 255, 0.2); */
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

/* Hamburger animation when active */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}


/* Main content styling */
main {
    margin-top: 124px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 40px;
    text-align: center;
}

.intro {
    display: flex;
    gap: 100px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    text-align: left; 
}

.info p, button, .certificates h2, .certificates button {
    font-family: 'IBM Plex Mono', monospace;
}

.info h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #62BA1B;
  width: 0;
  animation: typing 1.5s steps(10) forwards, blink 0.75s step-end 0s 4;
}

@keyframes typing {
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #62BA1B;
  }
}

.info h1.finished {
  border-right: none;
}

.info p {
    max-width: 400px;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 15px;
    color: #c0c0c0;
}

.link-story {
    text-decoration: none;        
    color: #62BA1B;     
    position: relative;         
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.link-story::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #62BA1B;
  transition: width 0.3s ease;
}

.link-story:hover::after {
  width: 100%;
}

button {
    margin-top: 10px;
    padding: 12px 24px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.download-btn {
    padding: 12px 24px;
    background-color: #3F8E00; 
    border: 1px solid #62BA1B; 
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
    border-radius: 4px;
}

.download-btn svg {
    vertical-align: middle;
}

.download-btn:hover {
    background-color: #62BA1B; 
    box-shadow: 0 0 2px #62BA1B;
}

.photo img {
    width: 185px;
    height: 185px;  
    object-fit: cover;
    border-radius: 50% 40% 50% 40%; 
    border: 1.5px solid #62BA1B;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.open-for-work p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}

.open-button {
    color: #62BA1B;
    border: 1px solid #62BA1B;
    padding: 0.3rem 2rem;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

@keyframes shake {
    0%  { transform: translateX(0); }
    10% { transform: translateX(-5px); }
    20% { transform: translateX(5px); }
    30% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    60% { transform: translateX(5px); }
    70% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    90% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.8s ease;
}

/* Certificates styling */
.certificates {
    margin-top: 100px;
    text-align: center;
}

.certificates h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.certificates .buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.certificates .buttons i {
    margin-left: 8px; 
    color: #62BA1B;    
    font-size: 18px; 
    vertical-align: middle;
}

.certificates .buttons button {
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    transition: all 0.3s;
}

.certificates .buttons button:hover {
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}

.separator {
    border: none;       
    width: calc(100% - 120px);  
    height: 1px;           
    background-color: #1B1B1B; 
    margin: 20px 0;      
}

footer {
  text-align: center;
  padding: 25px 0;
  color: #9C9C9C;
  font-family: 'IBM Plex Mono', monospace;
  border-top: 0px solid rgba(255, 255, 255, 0.1);
  margin-top: auto;
}

footer p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    margin: 0;
}

footer .fa-heart {
  color: #62BA1B;
  transition: transform 0.3s ease;
}

footer .fa-heart:hover {
  transform: scale(1.2);
}

/* -------- RESPONSIVE DESIGN -------- */

/* Tablets and smaller laptops */
@media (max-width: 1024px) {
    header {
        width: calc(100% - 60px);
        margin: 0 30px;
        padding: 20px;
    }

    nav ul {
        gap: 25px;
    }

    .intro {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .info {
        text-align: center;
    }

    .photo img {
        width: 200px;
        height: 200px;
    }

    .certificates {
        text-align: center;
    }
}

/* Mobile phones */
@media (max-width: 600px) {
    header {
        width: calc(100% - 20px);
        margin: 0 10px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 15px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    nav ul li a {
        font-size: 16px; 
    }

    .social-icons {
        margin-left: 0;
        justify-content: center;
    }

    main {
        margin-top: 50px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 40px;
        text-align: center;
    }

    .info h1 {
        font-size: 28px;
        text-align: center;
    }

    .info p {
        font-size: 0.95rem;
        max-width: 90%;
        text-align: center;
    }

    .photo img {
        margin-top: 0px;
        width: 180px;
        height: 180px;
    }

    .download-btn {
        font-size: 16px;
        padding: 10px 18px;
    }

    button {
        font-size: 15px;
        padding: 10px 18px;
    }

    .certificates {
        margin-top: 80px;
        text-align: left;
    }

    .certificates .buttons {
        flex-direction: column;
        gap: 15px;
    }
}

/* Medium screens 900px */
@media (max-width: 900px) {
.intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photo {
    order: 1;
    margin-top: 8px;
    margin-bottom: 0px;
}

.info {
    order: 2;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h1 {
    text-align: center;
}

.info p {
    max-width: 450px;
    line-height: 1.8;
    margin: 0 auto 20px;
    padding: 0 20px;
}

.download-btn {
    margin-top: 10px;
}

.photo img {
    width: 165px;
    height: 165px;
}

.certificates {
    text-align: center;
}
}
